h1{
    background-color: white;
    padding: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 250px;
}

